---
import ListItem from "../../components/ListItem.astro";
import Layout from "../../layouts/Layout.astro";

const allPosts = Object.values(import.meta.glob('./*.md', { eager: true }));
---

<Layout title="Blog | Justin Vietz">
  <div class="mt-10">
    <h1 class="text-3xl font-bold mb-8 text-gray-700">blog</h1>
    <ul class="space-y-6">
      {
        allPosts.map((post: any) => (
          <ListItem
            href={post.url}
            title={post.frontmatter.title}
            titleTransitionName="blogTitle"
            description={post.frontmatter.description}
            date={post.frontmatter.date}
          />
        ))
      }
    </ul>
  </div>
</Layout>