---
import Layout from "../layouts/Layout.astro";
import Dictionary from "../components/Dictionary.astro";
---

<script>
  import { annotate } from "rough-notation";

  const fullStack = document.querySelector("#fullstack");

  if (fullStack) {
    annotate(fullStack as HTMLElement, {
      type: "underline",
      color: "#000",
    }).show();
  }
</script>

<Layout>
  <Dictionary
    word="Moin!"
    pronunciation="mɔyn"
    type="INTERJECTION"
    description="Greeting in northern Germany"
  />

  <div class="mt-10">
    <p>
      Hey I am Justin Vietz, a <span id="fullstack">full-stack</span> developer by
      ❤️
    </p>
  </div>
</Layout>
